apscheduler
fastapi
fastapi_crons
numpy
opencv-python-headless
passlib
Pillow
pydantic
python-dotenv
python-jose
pyzbar
SQLAlchemy
fastapi==0.139.0
uvicorn[standard]==0.35.0
alembic==1.16.4
PyMySQL==1.1.1