apscheduler==3.11.2
face_recognition==1.3.0
fastapi==0.139.0
fastapi_crons==2.3.0
numpy==2.5.1
opencv_python_headless==4.13.0.92
passlib==1.7.4
Pillow==12.3.0
pydantic==2.13.4
python_jose==3.5.0
pyzbar==0.1.9
SQLAlchemy==2.0.51
